@use 'styles/variables' as v;

$font-sniglet: 'Sniglet-Regular', 'Sniglet', cursive, sans-serif;

:host {
  display: block;
}

.gras-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0b1a26;
  user-select: none;
  touch-action: none;
  font-family: $font-sniglet;
}
