$font-sniglet: 'Sniglet-Regular', 'Sniglet', cursive, sans-serif;

:host {
  display: block;
  width: 100%;
  height: 100%;
  font-family: $font-sniglet;
}

.three-canvas-container {
  width: 100%;
  height: 100%;
  cursor: crosshair;

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
